In [2]:
import pandas as pd 
import numpy as np

Use read_html function to scrape the table from Wikipedia page.

In [45]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

There are 2 tables on the page, so I make sure that I select the correct object scraped [0]

In [46]:
df1 = df[0]
df1.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Check how many rows we have. We can see that some values for Borough are "Not Assigned" and we need to delete them.

In [48]:
df1.shape

(180, 3)

Deleting "Not assigned" rows

In [49]:
df1.drop(df1[df1['Borough'] == 'Not assigned'].index, inplace=True)
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Checking if there are any NaN (missing data) values

In [61]:
missing_data = df1.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[columns].value_counts())
    print('')

Postal Code
False    103
Name: Postal Code, dtype: int64

Borough
False    103
Name: Postal Code, dtype: int64

Neighborhood
False    103
Name: Postal Code, dtype: int64

There are no NaN values in Neighborhood column, meaning that the table is complete!